
{% extends "ArticleBundle::design.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Liste des articles</h2>

    	{% for article in listArticles %}
  			{% block article %}
			<a href="{{ path('article_voir', {'id': article.id}) }}">
		  	{{ article.title }}
			</a>
			</br> {{article.content }} </br/t>
			par {{ article.author }},
			le {{ article.date|date('d/m/Y') }}
			</br></br>
			{% endblock %}
		{% endfor %}
  </ul>

{% endblock %}
