
{% extends "ArticleBundle::design.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block blog_body %}

  <h2>Liste des articles</h2>

  <ul>
    {% for article in listArticles %}
      <li>
        <a href="{{ path('article_voir', {'id': article.id}) }}">
          {{ article.title }}
        </a>
        par {{ article.author }},
        le {{ article.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'articles</li>
    {% endfor %}
  </ul>

{% endblock %}
