{% extends "ArticleBundle::design.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block article_body %}

  <h2>{{ article.title }}</h2>
  <i>Par {{ article.author }}, le {{ article.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ article.content }}
  </div>

  <p>
    <a href="{{ path('article_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('article_modifie', {'id': article.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'article
    </a>
    <a href="{{ path('article_supprime', {'id': article.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'article
    </a>
  </p>

{% endblock %}
